.clearfix:before {
  display: table;
  content: '';
  clear: both;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.break-word {
  word-break: break-all;
}
.no-paging {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.text-blue {
  color: #0a62a3 !important;
}
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.element,
.element *,
.element *:before,
.element *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
button:focus,
textarea:focus,
input:focus,
select:focus,
a:active {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #0a62a3;
}
.nano {
  width: auto;
  height: auto;
}
.nano > .nano-pane {
  top: 5px;
  bottom: 5px;
  width: 8px;
  right: 2px;
  background-color: transparent;
}
.nano-slider {
  background-color: #aaa;
}
.jiathis_style * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
body {
  font-family: Tahoma, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  padding-top: 90px;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}
.cover-img {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cover-img:hover .cover {
  bottom: -100%;
}
.cover-img .cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  overflow: hidden;
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  transition: bottom 0.5s;
}
.cover-img .img {
  width: 100%;
}
.cover-img .title,
.cover-img .subtitle {
  overflow: hidden;
  line-height: 1.5em;
}
.cover-img .title {
  height: 3em;
}
.cover-img .subtitle {
  height: 1.5em;
}
[data-trend="rise"] .diff,
[data-trend="rise"] .diff-pct {
  color: #ff3e3e;
}
[data-trend="fall"] .diff,
[data-trend="fall"] .diff-pct {
  color: #227722;
}
.pagingbar .button,
.toolbar.paging .button {
  display: block;
  float: left;
  margin-right: 5px;
  border: 1px solid #c8c8c8;
  min-width: 18px;
  padding: 0 5px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #0a62a3;
}
.pagingbar .button:hover,
.toolbar.paging .button:hover,
.pagingbar .button.active,
.toolbar.paging .button.active {
  border-color: #0a62a3;
  background-color: #0a62a3;
  color: #fff;
}
.pagingbar .button[data-action=prev-page],
.toolbar.paging .button[data-action=prev-page],
.pagingbar .button[data-action=next-page],
.toolbar.paging .button[data-action=next-page] {
  width: 78px;
  color: #646464;
}
.pagingbar .button[data-action=prev-page]:hover,
.toolbar.paging .button[data-action=prev-page]:hover,
.pagingbar .button[data-action=next-page]:hover,
.toolbar.paging .button[data-action=next-page]:hover {
  background-color: transparent;
  color: #0a62a3;
}
.livenews-list {
  font-size: 12px;
  line-height: 1.5em;
}
.livenews-list .news {
  display: block;
  padding: 1.5em 0;
  color: #333;
  border-bottom: 1px solid #cccccc;
}
.livenews-list .news .time {
  color: #0a62a3;
}
.side-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 20px;
}
.side-title:before {
  display: table;
  content: '';
  clear: both;
}
.side-title:after {
  display: table;
  content: '';
  clear: both;
}
.main-title {
  color: #0a62a3;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 6px;
  border-bottom: 4px solid #0a62a3;
  margin-bottom: 20px;
}
.news-list .news {
  word-break: break-all;
  font-size: 14px;
  line-height: 21px;
}
.news-list.with-dot .news {
  position: relative;
  padding-left: 1em;
  margin-bottom: 20px;
}
.news-list.with-dot .news:before {
  display: inline-block;
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0a62a3;
}
.news-list.with-number {
  counter-reset: sectioncounter;
}
.news-list.with-number .news {
  position: relative;
  padding-left: 2em;
  margin-bottom: 20px;
}
.news-list.with-number .news:before {
  position: absolute;
  left: 0;
  color: #0a62a3;
  font-weight: bold;
  content: counter(sectioncounter) " .";
  counter-increment: sectioncounter;
}
.news-list.with-number .news .number {
  display: none;
  position: absolute;
  left: 0;
  color: #0a62a3;
  font-weight: bold;
}
.side-ad {
  margin-bottom: 30px;
}
.side-ad img {
  width: 100%;
}
.side-comments .comment {
  position: relative;
  padding-left: 80px;
  font-size: 12px;
  margin-bottom: 30px;
}
.side-comments .comment .avatar {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}
.side-comments .comment .name {
  color: #0a62a3;
}
.side-comments .comment .title {
  color: #c11;
}
.side-comments .comment .content {
  padding: 12px 14px;
  margin: 15px 0;
  color: #787878;
  background-color: #dae8f1;
}
.side-comments .comment .time {
  color: #787878;
}
.toolbar:before {
  display: table;
  content: '';
  clear: both;
}
.toolbar:after {
  display: table;
  content: '';
  clear: both;
}
.custom-row {
  display: block;
}
.custom-row:before {
  display: table;
  content: '';
  clear: both;
}
.custom-row:after {
  display: table;
  content: '';
  clear: both;
}
.custom-row [class^=col],
.custom-row [class^=custom-span] {
  display: block;
  float: left;
}
.custom-row > .col-custom-1 {
  width: 8.33333333%;
}
.custom-row > .col-custom-2 {
  width: 16.66666667%;
}
.custom-row > .col-custom-3 {
  width: 25%;
}
.custom-row > .col-custom-4 {
  width: 33.33333333%;
}
.custom-row > .col-custom-5 {
  width: 41.66666667%;
}
.custom-row > .col-custom-6 {
  width: 50%;
}
.custom-row > .col-custom-7 {
  width: 58.33333333%;
}
.custom-row > .col-custom-8 {
  width: 66.66666667%;
}
.custom-row > .col-custom-9 {
  width: 75%;
}
.custom-row > .col-custom-10 {
  width: 83.33333333%;
}
.custom-row > .col-custom-11 {
  width: 91.66666667%;
}
.custom-row > .col-custom-12 {
  width: 100%;
}
.custom-button {
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  padding: 10px 8px;
  text-align: center;
  background-color: #0a62a3;
}
.custom-button:active {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5) inset;
}
.custom-button.size-lg {
  font-size: 16px;
  padding: 12px 1.5em;
}
.custom-button.size-fluid {
  display: block;
  width: 100%;
}
.custom-button.type-link {
  position: relative;
  font-size: 16px;
  padding: 12px 1.5em;
  padding-right: 4em;
}
.custom-button.type-link:after {
  display: block;
  position: absolute;
  content: "";
  right: 1.5em;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto 0;
  background: url(../icon/arrow-right.png);
}
.custom-nav-tabs {
  border-bottom: 4px solid #dcdcdc;
}
.custom-nav-tabs:before {
  display: table;
  content: '';
  clear: both;
}
.custom-nav-tabs:after {
  display: table;
  content: '';
  clear: both;
}
.custom-nav-tabs li {
  float: left;
  margin-bottom: -4px;
}
.custom-nav-tabs li.active a {
  color: #0a62a3;
  border-bottom-color: #0a62a3;
}
.custom-nav-tabs li:hover a {
  color: #0a62a3;
}
.custom-nav-tabs a {
  display: block;
  font-size: 16px;
  line-height: 1em;
  padding: 0 1em 1em;
  color: #646464;
  border-bottom: 4px solid transparent;
}
.custom-select {
  display: inline-block;
  /*position: relative;
    &:before {
        display: block;
        position: absolute;
        cursor:pointer;
        content: "";
        z-index: 2;
        right: 0;
        top: 0;
        bottom: 0;
        width: 20px;
        background-color: @blue;
    }
    &:after {
        display: block;
        position: absolute;
        cursor:pointer;
        content: "";
        z-index: 3;
        right: 5px;
        top: 9px;
        border-color: #fff;
        box-sizing: content-box;
        border-top: 8px solid #fff;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }*/
}
.custom-select label {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 0;
}
.custom-select select {
  font-size: 12px;
  cursor: pointer;
  padding-left: 10px;
  height: 24px;
  border: 1px solid #0a62a3;
  outline: none;
  /*-webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        -webkit-padding-end: 20px;
        -moz-padding-end: 20px;*/
}
.custom-modal {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 15px;
  background-color: rgba(0, 0, 0, 0.5);
}
.custom-modal.active {
  z-index: 999;
  visibility: visible;
  opacity: 1;
}
.custom-modal.active > .wrapper {
  margin-top: 0;
}
.custom-modal.size-sm .custom-modal-content {
  width: 400px;
}
.custom-modal.size-lg .custom-modal-content {
  width: 800px;
}
.custom-modal > .wrapper {
  -webkit-transition: margin ease-in-out 0.3s;
  -moz-transition: margin ease-in-out 0.3s;
  -o-transition: margin ease-in-out 0.3s;
  transition: margin ease-in-out 0.3s;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 100%;
}
.custom-modal .middle-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.custom-modal .custom-modal-content {
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px #333;
}
.custom-modal .custom-modal-content .custom-modal-header {
  font-size: 20px;
  line-height: 60px;
  padding: 0 30px;
  color: #0a62a3;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #cccccc;
  background-color: #fff;
  position: relative;
  text-indent: 40px;
}
.custom-modal .custom-modal-content .custom-modal-header:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 30px;
  margin: auto;
  width: 32px;
  height: 32px;
  background: url(../icon/logo32px.png) 0 0 no-repeat;
}
.custom-modal .custom-modal-content .custom-modal-header .close {
  line-height: 60px;
}
.custom-modal .custom-modal-content .custom-modal-body {
  padding: 20px 30px 30px;
  background-color: #fff;
}
.custom-modal .custom-modal-content .custom-modal-footer {
  background-color: #0a62a3;
  padding: 0 30px;
  height: 48px;
  border-radius: 0 0 10px 10px;
}
.custom-modal .custom-modal-content .custom-modal-footer:before {
  display: table;
  content: '';
  clear: both;
}
.custom-modal .custom-modal-content .custom-modal-footer:after {
  display: table;
  content: '';
  clear: both;
}
.custom-modal .custom-modal-content .custom-modal-footer .link-left,
.custom-modal .custom-modal-content .custom-modal-footer .link-right {
  display: block;
  position: relative;
  font-size: 14px;
  color: #fff;
  line-height: 48px;
}
.custom-modal .custom-modal-content .custom-modal-footer .link-left:before,
.custom-modal .custom-modal-content .custom-modal-footer .link-right:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.custom-modal .custom-modal-content .custom-modal-footer .link-left {
  float: left;
  padding-left: 30px;
}
.custom-modal .custom-modal-content .custom-modal-footer .link-left:before {
  background-image: url(../icon/arrow-left.png);
}
.custom-modal .custom-modal-content .custom-modal-footer .link-right {
  float: right;
  padding-right: 30px;
}
.custom-modal .custom-modal-content .custom-modal-footer .link-right:before {
  left: auto;
  right: 0;
  background-image: url(../icon/arrow-right.png);
}
.icontext {
  display: inline;
  padding-left: 20px;
  position: relative;
  min-height: 16px;
  font-style: normal;
}
.icontext:before {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
.icontext.rtl {
  padding-left: 0;
  padding-right: 20px;
}
.icontext.rtl:before {
  left: auto;
  right: 0;
}
.icontext-arrow-right:before {
  background: url(../icon/arrow-right.png);
}
.icontext-rise:before {
  background: url(../icon/rise.png);
}
.icontext-fall:before {
  background: url(../icon/fall.png);
}
.icontext-collect-blue:before {
  background: url(../icon/collect-blue.png);
}
.icontext-share-blue:before {
  background: url(../icon/share-blue.png);
}
.icontext-discuss-blue:before {
  background: url(../icon/discuss-blue.png);
}
.icontext-endorse-blue:before {
  background: url(../icon/endorse-blue.png);
}
.icontext-discuss-white:before {
  background: url(../icon/discuss-white.png);
}
.icontext-endorse-white:before {
  background: url(../icon/endorse-white.png);
}
.icontext-qq-md,
.icontext-weibo-md {
  padding-left: 30px;
}
.icontext-qq-md:before {
  width: 24px;
  height: 24px;
  background: url(../icon/qq-md.png);
}
.icontext-weibo-md:before {
  width: 24px;
  height: 24px;
  background: url(../icon/weibo-md.png);
}
#header {
  position: fixed;
  z-index: 9;
  background-color: #0a62a3;
  margin-bottom: 30px;
  width: 100%;
  top: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#header .navbar {
  color: #fff;
  margin-bottom: 0;
  border: 0;
}
#header .nav > li > a:focus,
#header .nav > li > a:hover {
  background-color: #045587;
  color: #fff;
}
#header .navbar-brand {
  color: transparent;
  width: 185px;
  background: url(../img/logo.png) left center no-repeat;
}
#header .navbar-toggle {
  margin-right: 0;
}
#header .navbar-toggle .icon-bar {
  background-color: #fff;
}
#header .navbar-nav > li > a {
  font-size: 14px;
}
#header .search-form {
  padding-right: 0;
}
#header .form-group {
  margin: 0;
}
#header .form-control-feedback {
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  margin: auto;
  width: 34px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  z-index: -1;
}
#header .search-field {
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  cursor: pointer;
  border: none;
  line-height: 16px;
  color: #333;
  padding-top: 9px;
  padding-bottom: 9px;
  height: 34px;
  padding-left: 34px;
  width: 34px;
  background-color: transparent;
}
#header .search-field:focus {
  background-color: #fff;
  cursor: text;
  outline: 0;
  width: 230px;
}
#header .search-field:focus + .form-control-feedback {
  color: #0a62a3;
  z-index: 2;
}
@media (max-width: 767px) {
  #header {
    position: absolute;
  }
  #header .navbar {
    min-height: 40px;
  }
  #header .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
  }
  #header .navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
  }
  #header .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #header .search-field {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    width: 200px;
    background-color: #fff;
  }
  #header .search-field + .form-control-feedback {
    color: #0a62a3;
    z-index: 2;
  }
  #header .search-field:focus {
    width: 200px;
  }
}
#breaking-news {
  display: block;
  height: 0;
  width: 100%;
  background-color: #c11;
  color: #fff;
  overflow: hidden;
}
#breaking-news .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 40px;
}
#breaking-news [data-action=close] {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  color: #646464;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}
#breaking-news [data-action=close]:hover {
  color: #0a62a3;
}
#leftbar {
  position: fixed;
  z-index: 2;
  width: 530px;
  padding-left: 15px;
  top: 90px;
  bottom: 30px;
  overflow: hidden;
}
#leftbar:before {
  display: table;
  content: '';
  clear: both;
}
#leftbar:after {
  display: table;
  content: '';
  clear: both;
}
#leftbar > .content {
  float: left;
  width: 170px;
  position: relative;
  height: 100%;
  background-color: #dae8f1;
}
#leftbar > .sidebar {
  position: relative;
  float: left;
  width: 330px;
  height: 100%;
}
#leftbar > .sidebar .nano-content {
  padding: 20px 15px;
  background-color: #b0cde1;
}
#leftbar > .sidebar .nano-pane {
  width: 8px;
  right: 2px;
}
#leftbar > .sidebar .nano-slider {
  background-color: #0a62a3;
}
#leftbar > .sidebar .chart {
  height: 150px;
  margin-bottom: 30px;
}
#leftbar .user.box {
  padding: 20px 15px 15px;
  height: 145px;
}
#leftbar .user.box .avatar {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
}
#left-market-list {
  position: absolute;
  top: 145px;
  bottom: 20px;
  left: 0;
  right: 0;
  font-size: 12px;
  color: #000;
}
#left-market-list .market {
  display: block;
  position: relative;
  width: 100%;
  padding: 13px 15px;
  line-height: 16px;
}
#left-market-list .market[data-trend=rise] {
  /*.name {
                background: url(../icon/rise.png) right center no-repeat;
            }*/
}
#left-market-list .market[data-trend=rise]:before {
  background: url(../icon/rise.png);
}
#left-market-list .market[data-trend=fall] {
  /*.name {
                background: url(../icon/fall.png) right center no-repeat;
            }*/
}
#left-market-list .market[data-trend=fall]:before {
  background: url(../icon/fall.png);
}
#left-market-list .market:before {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  bottom: 0;
  left: 75px;
  margin: auto 0;
}
#left-market-list .market:after {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  top: 0;
  bottom: 0;
  right: 15px;
  background: url(../icon/arrow-right-1.png) center center no-repeat;
}
#left-market-list .market:hover {
  background-color: #b0cde1;
}
#left-market-list .market .custom-icon {
  position: absolute;
  right: 0;
  display: block;
  height: 100%;
  line-height: 32px;
}
#left-market-list .market .custom-span-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
}
#left-market-list .market .custom-span-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60px;
}
#left-market-list .market .name {
  display: block;
  margin-bottom: 4px;
  padding-right: 20px;
}
#left-side-livenews {
  /*overflow: hidden;
    margin-right: -15px;
    .content {
        padding-right: 15px;
    }*/
}
#left-side-livenews .news {
  border-color: #999;
}
#left-side-livenews .news:hover {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #8CB8D5;
  border-bottom: 1px solid #8CB8D5;
  border-top: 1px solid #8CB8D5;
  margin-top: -1px;
}
.sharebar {
  font-size: 14px;
  line-height: 32px;
  width: 135px;
}
.sharebar .discuss,
.sharebar .collect {
  display: block;
  padding-left: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.sharebar .discuss:before,
.sharebar .collect:before {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 10px;
  content: "";
}
.sharebar .discuss:before {
  background: url(../icon/discuss32px.png);
}
.sharebar .collect:before {
  background: url(../icon/collect32px.png);
}
.sharebar .jiathis_style_32x32 {
  font-size: 14px;
  line-height: 32px;
}
.sharebar .jiathis_style_32x32 a {
  display: block;
  height: 32px;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 20px;
}
.sharebar .jiathis_style_32x32 a.jiathis {
  margin-left: 15px;
}
.sharebar .jiathis_style_32x32 .jtico {
  padding-left: 32px !important;
  font-size: 14px;
  text-indent: 10px;
  margin: 0;
}
.sharebar .jiathis_style_32x32 .jtico_tsina {
  background: url(../icon/weibo32px.png) 0 0 no-repeat;
}
.sharebar .jiathis_style_32x32 .jtico_cqq {
  background: url(../icon/qq32px.png) 0 0 no-repeat;
}
.sharebar .jiathis_style_32x32 .jtico_weixin {
  background: url(../icon/wechat32px.png) 0 0 no-repeat;
}
.sharebar .jiathis_style_32x32 .jtico_evernote {
  background: url(../icon/evernote32px.png) 0 0 no-repeat;
}
.sharebar .jiathis_style_32x32 .jtico_jiathis {
  background: url(../icon/share32px.png) 0 0 no-repeat;
}
#rightbar {
  float: left;
  padding: 0 15px;
}
#rightbar .custom-nav-tabs {
  margin-bottom: 20px;
}
#rightbar .custom-nav-tabs a {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
#right-side-livenews {
  height: 400px;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}
#right-side-livenews .news {
  margin-left: 15px;
  margin-right: 15px;
}
#right-side-livenews .news:hover {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #8CB8D5;
  border-bottom: 1px solid #8CB8D5;
  border-top: 1px solid #8CB8D5;
  margin-top: -1px;
}
#sidebar {
  z-index: 1;
  position: absolute;
  width: 524px;
  padding-left: 30px;
  right: 15px;
  top: 0;
  background-color: #fff;
}
#sidebar .side-title:before {
  display: table;
  content: '';
  clear: both;
}
#sidebar .side-title:after {
  display: table;
  content: '';
  clear: both;
}
#side-topnews {
  font-size: 14px;
  background-color: #fff;
  height: 300px;
}
#side-livenews {
  font-size: 14px;
  height: 300px;
}
#postbar {
  position: fixed;
  bottom: 40px;
  padding-left: 15px;
}
#postbar .item {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
#postbar .suggest {
  background: url(../icon/suggest50px.png);
}
#postbar .suggest:hover {
  background-image: url(../icon/suggest-active50px.png);
}
#postbar .wechat {
  background: url(../icon/wechat50px.png);
}
#postbar .wechat:hover {
  background-image: url(../icon/wechat-active50px.png);
}
#postbar .up {
  background: url(../icon/up50px.png);
}
#postbar .up:hover {
  background-image: url(../icon/up-active50px.png);
}
#qrcode {
  display: block;
  position: fixed;
  top: 230px;
  padding-left: 15px;
}
#main {
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
}
#main .top3-news {
  margin-bottom: 30px;
}
#main .top3-news img {
  width: 100%;
  height: auto;
}
#main .top3-news .top1 .title {
  font-size: 20px;
}
#main .top3-news .top1 .subtitle {
  font-size: 14px;
}
#main .top3-news .top2 .title,
#main .top3-news .top3 .title {
  font-size: 14px;
}
@media (min-width: 480px) {
  #main .top3-news .custom-span-1 {
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  #main .top3-news .custom-span-2 {
    width: 100%;
  }
  #main .top3-news .custom-span-3,
  #main .top3-news .custom-span-4 {
    border-top: 1px solid #fff;
    width: 50%;
  }
  #main .top3-news .custom-span-3 {
    border-right: 1px solid #fff;
  }
  #main .top3-news .custom-span-4 {
    border-left: 1px solid #fff;
  }
}
@media (min-width: 1280px) {
  #main .top3-news img {
    height: 100%;
  }
  #main .top3-news .custom-span-1 {
    width: 66.66666667%;
    height: 300px;
    border-bottom: none;
    border-right: 1px solid #fff;
  }
  #main .top3-news .custom-span-2 {
    width: 33.33333333%;
  }
  #main .top3-news .custom-span-3,
  #main .top3-news .custom-span-4 {
    border: none;
    border-left: 1px solid #fff;
    height: 150px;
    width: 100%;
  }
  #main .top3-news .custom-span-3 {
    border-bottom: 1px solid #fff;
  }
  #main .top3-news .custom-span-4 {
    border-top: 1px solid #fff;
  }
}
#main .news-list.with-img .news-big {
  padding: 25px 0;
  border-bottom: 1px solid #cccccc;
}
#main .news-list.with-img .news-big .cover-img .title {
  font-size: 20px;
}
#main .news-list.with-img .news-big .cover-img .subtitle {
  font-size: 14px;
}
#main .news-list.with-img .news {
  color: #323232;
  padding: 25px 0;
  border-bottom: 1px solid #cccccc;
  /*
            .endorse ,
            .discuss {
                display: inline-block;
                padding-left: 20px;
                background-position: 0 center;
                background-repeat: no-repeat;
            }*/
}
#main .news-list.with-img .news .cover-img {
  margin-top: 4px;
}
#main .news-list.with-img .news .cover-img .cover {
  background-color: #0a62a3;
  padding: 0 10px ;
  font-size: 13px;
  line-height: 30px;
}
#main .news-list.with-img .news .cover-img .img {
  width: 100%;
  height: auto;
}
#main .news-list.with-img .news .title {
  display: block;
  font-size: 18px;
  line-height: 25px;
}
#main .news-list.with-img .news .meta {
  display: inline-block;
  margin-top: 16px ;
  margin-left: 16px;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
}
#main .news-list.with-img .news .author {
  color: #0a62a3;
  margin-left: 0;
}
#main .news-list.with-img .news .endorse {
  margin-right: 1em;
}
#main .news-list.with-img .news .share,
#main .news-list.with-img .news .collect {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 1em;
}
#main .news-list.with-img .news .share {
  background-image: url(../icon/share-blue.png);
}
#main .news-list.with-img .news .collect {
  background-image: url(../icon/collect-blue.png);
}
#main .news-list.with-img .news .summary {
  color: #787878;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5em;
}
@media (max-width: 1279px) {
  #main .news-list .news .summary {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  #main .custom-nav-tabs a {
    font-size: 15px;
  }
  #main .news-list .news .title {
    font-size: 15px;
  }
  #main .news-list .news .summary {
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  #main .news-list .news .title {
    margin-top: 10px;
  }
}
.post .article-title {
  color: #000;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 20px;
}
@media (max-width: 1279px) {
  .post .article-title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .post .article-title {
    font-size: 18px;
  }
}
.post .meta {
  font-size: 12px;
  color: #646464;
  display: inline-block;
  margin-bottom: 30px;
}
.post .meta.author {
  color: #0a62a3;
  margin-right: 30px;
}
.post .meta.comment-count {
  color: #0a62a3;
  margin-left: 15px;
}
.post .main-image {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.post .article-content {
  font-size: 16px;
  line-height: 1.75em;
}
.post .article-content:before {
  display: table;
  content: '';
  clear: both;
}
.post .article-content:after {
  display: table;
  content: '';
  clear: both;
}
.post .article-content p {
  margin-bottom: 30px;
}
.post .article-content ul {
  margin-bottom: 30px;
}
.post .article-content li {
  list-style: circle;
  margin-left: 20px;
  margin-bottom: 30px;
}
.post .related-posts {
  display: block;
  font-size: 14px;
  padding: 15px;
  color: #505050;
  background-color: #f0f0f0;
  margin-bottom: 30px;
}
@media (min-width: 1280px) {
  .post .related-posts {
    float: left;
    width: 282px;
    margin-right: 30px;
  }
}
.post .related-posts ul {
  margin-bottom: 0;
}
.post .related-posts li {
  list-style: none;
  margin-left: 0;
}
.post .related-posts li:last-child {
  margin-bottom: 0;
}
.post .related-posts li.last-child {
  margin-bottom: 0;
}
.post .statement {
  background-color: #DAE8F1;
  padding: 1em;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 30px;
  color: #0a62a3;
}
.post .toolbar {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 32px;
}
.post .toolbar .endorse {
  color: #0a62a3;
  font-size: 12px;
  margin-right: 20px;
  float: left;
}
.post .toolbar .collect {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../icon/collect32px.png);
}
.post .toolbar .separator {
  display: inline-block;
  width: 0;
  height: 32px;
  border-right: 1px solid #cccccc;
  float: left;
  margin-right: 15px;
}
.post .toolbar .jiathis_style_32x32 {
  float: right;
  border-left: 1px solid #cccccc;
  padding-left: 10px;
  font-size: 14px;
}
.post .toolbar .jiathis_style_32x32 .text {
  display: block;
  float: left;
}
.post .toolbar .jiathis_style_32x32 .jtico {
  padding-left: 32px !important;
  margin-left: 10px;
}
.post .toolbar .jiathis_style_32x32 .jtico_tsina {
  background: url(../icon/weibo32px.png) 0 0 no-repeat;
}
.post .toolbar .jiathis_style_32x32 .jtico_cqq {
  background: url(../icon/qq32px.png) 0 0 no-repeat;
}
.post .toolbar .jiathis_style_32x32 .jtico_weixin {
  background: url(../icon/wechat32px.png) 0 0 no-repeat;
}
.post .toolbar .jiathis_style_32x32 .jtico_evernote {
  background: url(../icon/evernote32px.png) 0 0 no-repeat;
}
.post .toolbar .jiathis_style_32x32 .jtico_jiathis {
  background: url(../icon/share32px.png) 0 0 no-repeat;
}
@media (max-width: 479px) {
  .post .toolbar .collect {
    margin-bottom: 10px;
  }
  .post .toolbar .jiathis_style_32x32 {
    float: none;
    display: block;
    border-left: none;
    padding-left: 0;
  }
  .post .toolbar .jiathis_style_32x32:before {
    display: table;
    content: '';
    clear: both;
  }
  .post .toolbar .jiathis_style_32x32:after {
    display: table;
    content: '';
    clear: both;
  }
}
.post .toolbar[data-action=post] {
  padding: 0;
  position: relative;
}
.post .toolbar[data-action=post] .separator {
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.post .toolbar[data-action=post] .prev-post,
.post .toolbar[data-action=post] .next-post {
  display: block;
  position: relative;
  width: 50%;
  float: left;
  padding: 15px 20px;
  color: #333;
}
.post .toolbar[data-action=post] .prev-post:before,
.post .toolbar[data-action=post] .next-post:before {
  display: table;
  content: '';
  clear: both;
}
.post .toolbar[data-action=post] .prev-post:after,
.post .toolbar[data-action=post] .next-post:after {
  display: table;
  content: '';
  clear: both;
}
.post .toolbar[data-action=post] .prev-post:hover,
.post .toolbar[data-action=post] .next-post:hover {
  background-color: #0a62a3;
  color: #fff;
}
.post .toolbar[data-action=post] .icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
.post .toolbar[data-action=post] .img {
  display: block;
}
.post .toolbar[data-action=post] .title {
  display: block;
  font-size: 14px;
  line-height: 1.5em;
}
.post .toolbar[data-action=post] .prev-post {
  padding-left: 40px;
}
.post .toolbar[data-action=post] .prev-post .icon {
  left: 0;
}
.post .toolbar[data-action=post] .next-post {
  padding-right: 40px;
}
.post .toolbar[data-action=post] .next-post .icon {
  right: 0;
}
@media (max-width: 1279px) {
  .post .toolbar[data-action=post] .img {
    width: 100%;
    margin-bottom: 20px;
  }
  .post .toolbar[data-action=post] .title {
    height: 4.5em;
    overflow: hidden;
  }
}
@media (min-width: 1280px) {
  .post .toolbar[data-action=post] .img {
    width: 120px;
    height: 80px;
  }
  .post .toolbar[data-action=post] .title {
    width: 120px;
    height: 80px;
    overflow: hidden;
  }
  .post .toolbar[data-action=post] .prev-post .img {
    float: left;
  }
  .post .toolbar[data-action=post] .prev-post .title {
    float: right;
  }
  .post .toolbar[data-action=post] .next-post .img {
    float: right;
  }
  .post .toolbar[data-action=post] .next-post .title {
    float: left;
  }
}
.post .hot-news {
  margin-bottom: 30px;
}
.post .hot-news .news {
  display: block;
  color: #000;
  margin-bottom: 30px;
}
.post .hot-news .news:hover {
  color: #0a62a3;
}
.post .hot-news .news .img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.post .hot-news .news .title {
  font-size: 14px;
  line-height: 1.5em;
}
.post .custom-tabs {
  font-size: 14px;
  margin-bottom: 20px;
}
.post .custom-tabs:before {
  display: table;
  content: '';
  clear: both;
}
.post .custom-tabs:after {
  display: table;
  content: '';
  clear: both;
}
.post .custom-tabs li {
  float: left;
  margin-right: 20px;
}
.post .custom-tabs li.active {
  color: #0a62a3;
}
.post .news-list .news:before {
  background-color: #333;
}
.post .news-list .news:hover:before {
  background-color: #0a62a3;
}
#content {
  margin: 0 auto;
  position: relative;
}
#main-content {
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#wrapper {
  z-index: 3;
  position: relative;
  background-color: #fff;
  margin-left: 185px;
  padding-left: 15px;
}
#wrapper:before {
  display: table;
  content: '';
  clear: both;
}
#wrapper:after {
  display: table;
  content: '';
  clear: both;
}
#search {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}
@media (min-width: 1280px) {
  #search {
    padding-left: 215px;
    padding-right: 345px;
  }
}
#search .custom-nav-tabs a {
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 1.5em;
}
#search .search-list {
  margin-bottom: 30px;
}
#search .search-list .item {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}
#search .search-list .news {
  position: relative;
  padding-left: 150px;
}
#search .search-list .news .img {
  position: absolute;
  display: block;
  width: 120px;
  left: 0;
  top: 21px;
}
#search .search-list .news .title {
  display: block;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 15px;
}
#search .search-list .news .meta {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 15px;
  color: #787878;
}
#search .search-list .news .author,
#search .search-list .news .endorse {
  margin-right: 1.25em;
}
#search .search-list .news .summary {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 15px;
}
#search .search-list .news .share,
#search .search-list .news .collect {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 1em;
}
#search .search-list .news .share {
  background-image: url(../icon/share-blue.png);
}
#search .search-list .news .collect {
  background-image: url(../icon/collect-blue.png);
}
@media (max-width: 479px) {
  #search .search-list .news {
    padding-left: 0;
  }
  #search .search-list .news .title {
    font-size: 14px;
  }
  #search .search-list .news .meta {
    margin-bottom: 0;
  }
}
#search-form {
  position: relative;
  padding-right: 100px;
  margin-bottom: 30px;
}
#search-form .search-field {
  display: block;
  height: 30px;
  padding: 5px 15px;
  line-height: 20px;
  border-radius: 3px;
  border: 1px solid #999;
  width: 100%;
}
#search-form .search-field:focus {
  border-color: #1395E5;
}
#search-form .submit {
  display: block;
  position: absolute;
  width: 67px;
  height: 30px;
  border: 1px solid #0a62a3;
  color: #0a62a3;
  background-color: #fff;
  border-radius: 5px;
  line-height: 28px;
  text-align: center;
  top: 0;
  right: 0;
}
#search-form .submit:hover {
  color: #fff;
  background-color: #0a62a3;
}
#footer {
  position: relative;
  z-index: 8;
  width: 100%;
  font-size: 14px;
  color: #333;
  padding-top: 30px;
  background-color: #fff;
}
#footer .wrapper {
  padding: 80px 0 50px;
  background-color: #b0cde1;
}
#footer .foot-title {
  font-size: 18px;
  line-height: 20px;
  color: #0a62a3;
  margin-bottom: 30px;
}
#footer .list {
  margin-bottom: 30px;
}
#footer .list .item {
  margin-bottom: 1em;
}
#user-modal label {
  font-weight: normal;
}
#user-modal table {
  width: 100%;
  height: 100%;
}
#user-modal .carousel {
  height: 100%;
}
#user-modal .carousel-inner {
  height: 100%;
  width: 100%;
}
#user-modal .carousel-inner > .item {
  width: 100%;
  height: 100%;
}
#user-modal .form-control {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
#user-modal .form-control:focus + .form-control-feedback {
  color: #1395E5;
}
#user-modal .form-control-feedback {
  top: auto;
  color: #999;
  bottom: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
#user-modal .form-footer {
  padding-top: 5px;
  margin-bottom: 20px;
}
#user-modal .form-footer:before {
  display: table;
  content: '';
  clear: both;
}
#user-modal .form-footer:after {
  display: table;
  content: '';
  clear: both;
}
#user-modal .br-title {
  display: block;
  width: 100%;
  text-align: center;
  height: 10px;
  border-bottom: 1px solid #119BEF;
  margin-bottom: 32px;
}
#user-modal .br-title .text {
  background-color: #fff;
  padding: 0 10px;
  color: #999;
  font-size: 14px;
  line-height: 20px;
}
#user-modal .custom-row .custom-span-left {
  width: 50%;
  padding-right: 10px;
}
#user-modal .custom-row .custom-span-right {
  width: 50%;
  padding-left: 10px;
}
@media (max-width: 479px) {
  #user-modal .custom-row .custom-span-left,
  #user-modal .custom-row .custom-span-right {
    width: 100%;
    padding: 0;
  }
  #user-modal .custom-row .custom-span-left {
    margin-bottom: 20px;
  }
}
#user-modal .custom-button {
  line-height: 20px;
  border-radius: 5px;
}
#user-modal .custom-button.type-qq {
  background-color: #2384CC;
}
#user-modal .custom-button.type-weibo {
  background-color: #D04341;
}
#user-modal .custom-button[type=submit] {
  background-color: #0a62a3;
  width: 140px;
}
@media (max-width: 479px) {
  #user-modal .custom-button[type=submit] {
    width: 100px;
  }
}
#user-modal .custom-button[type=reset] {
  background-color: #797979;
  width: 140px;
}
@media (max-width: 479px) {
  #user-modal .custom-button[type=reset] {
    width: 100px;
  }
}
body {
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s;
}
#breaking-news {
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
#leftbar {
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}
#wrapper {
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
}
body.show-breaking-news {
  padding-top: 130px;
}
body.show-breaking-news #leftbar {
  top: 130px;
}
body.show-breaking-news #breaking-news {
  height: 40px;
}
#content.unfold #wrapper {
  margin-left: 515px;
}
@media (max-width: 991px) {
  #leftbar {
    display: none;
  }
  #wrapper {
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  #content {
    width: 720px;
  }
  #wrapper {
    width: 720px;
  }
  #main {
    width: 390px;
  }
  #rightbar {
    width: 330px;
  }
  #postbar {
    margin-left: 760px;
  }
  #qrcode {
    margin-left: 720px;
  }
}
@media (min-width: 992px) {
  #content {
    width: 960px;
  }
  #wrapper {
    width: 960px;
  }
  #main {
    width: 430px;
  }
  #postbar {
    margin-left: 1000px;
  }
  #qrcode {
    margin-left: 960px;
  }
}
@media (min-width: 1280px) {
  #content {
    width: 1200px;
  }
  #wrapper {
    width: 1200px;
  }
  #main {
    width: 670px;
  }
  #postbar {
    margin-left: 1240px;
  }
  #qrcode {
    margin-left: 1200px;
  }
}
/*# sourceMappingURL=style.css.map */