#content {
    margin: 0 auto;
    position: relative;
}
#main-content {
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
#wrapper {
    .clearfix;
    z-index: 3;
    position: relative;
    background-color: #fff;
    margin-left: 185px;
    padding-left: 15px;
}
