#content {
    position: relative;
}
#main-content {
    .clearfix;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    &.columns-2 {
        overflow: visible;
    }
}
#wrapper {
    .clearfix;
    z-index: 3;
    position: relative;
    background-color: #fff;
}
