.custom-row {
    display: block;
    .clearfix;
    [class^=col] ,
    [class^=custom-span] {
        display: block;
        float: left;
    }
    & > .col-custom-1 {
        width: percentage((1 / 12));
    }
    & > .col-custom-2 {
        width: percentage((2 / 12));
    }
    & > .col-custom-3 {
        width: percentage((3 / 12));
    }
    & > .col-custom-4 {
        width: percentage((4 / 12));
    }
    & > .col-custom-5 {
        width: percentage((5 / 12));
    }
    & > .col-custom-6 {
        width: percentage((6 / 12));
    }
    & > .col-custom-7 {
        width: percentage((7 / 12));
    }
    & > .col-custom-8 {
        width: percentage((8 / 12));
    }
    & > .col-custom-9 {
        width: percentage((9 / 12));
    }
    & > .col-custom-10 {
        width: percentage((10 / 12));
    }
    & > .col-custom-11 {
        width: percentage((11 / 12));
    }
    & > .col-custom-12 {
        width: percentage(1);
    }
}
//
.custom-button {
    .clearfix;
    display: inline-block;
    border: none;
    color: #fff;
    font-size: 14px;
    line-height: 1em;
    padding: 10px 8px;
    text-align: center;
    &:active {
        box-shadow: 0 0 3px 1px rgba(0,0,0,.5) inset;
    }
    &.type-blue {
        background-color: @blue;
    }
    &.size-sm {

    }
    &.size-lg {
        font-size: 16px;
        padding: 12px 1.5em;
    }
    &.size-fluid {
        display: block;
        width: 100%;
    }
    &.link {
        position: relative;
        font-size: 16px;
        padding: 12px 1.5em;
        padding-right: 4em;
        &:after {
            display: block;
            position: absolute;
            right: 1.5em;
            top: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            margin: auto 0;
            background: url(../icon/arrow-right.png);
        }
    }
    .text {
        display: inline-block;
    }
}
//
.custom-nav-tabs {
    .clearfix;
    border-bottom: 4px solid #dcdcdc;
    li {
        float: left;
        margin-bottom: -4px;
        &.active {
            a {
                color: @blue;
                border-bottom-color: @blue;
            }
        }
        &:hover {
            a {
                color: @blue;
            }
        }
    }
    a {
        display: block;
        font-size: 16px;
        line-height: 1em;
        padding: 0 1em 1em;
        color: #646464;
        border-bottom: 4px solid transparent;
    }
}

.custom-select {
    display: inline-block;
    /*position: relative;
    &:before {
        display: block;
        position: absolute;
        cursor:pointer;
        content: "";
        z-index: 2;
        right: 0;
        top: 0;
        bottom: 0;
        width: 20px;
        background-color: @blue;
    }
    &:after {
        display: block;
        position: absolute;
        cursor:pointer;
        content: "";
        z-index: 3;
        right: 5px;
        top: 9px;
        border-color: #fff;
        box-sizing: content-box;
        border-top: 8px solid #fff;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }*/
    label {
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        margin-bottom: 0;
    }
    select {
        font-size: 12px;
        //line-height: 22px;
        cursor:pointer;
        padding-left: 10px;
        height: 24px;
        border: 1px solid @blue;
        outline:none;
        /*-webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        -webkit-padding-end: 20px;
        -moz-padding-end: 20px;*/
    }
}

.custom-modal {
    .transition(opacity 0.5s);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 15px;
    background-color: rgba(0,0,0,.5);
    &.active {
        z-index: 999;
        visibility: visible;
        opacity: 1;
        & > .wrapper {
            margin-top: 0;
        }
    }
    &.size-sm {
        .custom-modal-content {
            width: 400px;
        }
    }
    &.size-lg {
        .custom-modal-content {
            width: 800px;
        }
    }
    & > .wrapper {
        .transition(margin ease-in-out 0.5s);
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 100%;
    }
    .custom-modal-content {
        width: 600px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        .custom-modal-header {
            font-size: 20px;
            line-height: 60px;
            padding: 0 30px;
            color: @blue;
            border-radius: 10px 10px 0 0;
            border-bottom: 1px solid @borderColor;
            background-color: #fff;
            .close {
                line-height: 60px;
            }
        }
        .custom-modal-body {
            padding: 20px 30px 30px;
            background-color: #fff;
        }
        .custom-modal-footer {
            .clearfix;
            background-color: @blue;
            padding: 0 30px;
            height: 48px;
            border-radius: 0 0 10px 10px;
            .link-left,
            .link-right {
                display: block;
                position: relative;
                font-size: 14px;
                color: #fff;
                line-height: 48px;
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 16px;
                    height: 16px;
                    margin: auto;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .link-left {
                float: left;
                padding-left: 30px;
                &:before {
                    background-image: url(../icon/arrow-left.png);
                }
            }
            .link-right {
                float: right;
                padding-right: 30px;
                &:before {
                    left: auto;
                    right: 0;
                    background-image: url(../icon/arrow-right.png);
                }
            }
        }
    }
}
