@charset "utf-8";

#header {
    position: fixed;
    z-index: 9;
    background-color: #fff;
    margin-bottom: 30px;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);

    .navbar-header {
        position: relative;
        z-index: 3;
    }
    .navbar {
        color: #555;
        margin-bottom: 0;
        border: 0;
    }
    .nav > li:first-child > a {
        padding-left: 0;
        .text {
            padding-left: 20px;
            border-left: 1px solid @borderColor;
            @media(max-width: (@navbar-breakpoint)) {
                border: none;
            }
        }
    }
    .nav > li > a {
        padding-left: 20px;
        padding-right: 0;
        &:focus ,
        &:hover ,
        &.active {
            color: @blue;
            background: none;
        }
        &.active {
            color: #fff;
            background: @blue;
            margin-left: -1px;
            .text {
                border-color: @blue ;
            }
        }
        .text {
            padding-right: 20px;
            border-right: 1px solid @borderColor;
            @media(max-width: (@navbar-breakpoint)) {
                border: none;
            }
        }
    }

    .navbar-brand {
        color: transparent;
        width: 210px;
        background: url(../img/logo.png?v=1.10) left center no-repeat;
    }
    .navbar-toggle {
        //float: left;
        margin-right: 0;
        .icon-bar {
            background-color: #666;
            //height: 4px;
            //width: 27px;
        }
        .icon-bar + .icon-bar {
            //margin-top: 6px;
        }
    }
    .navbar-nav > li > a {
        //line-height: 30px;
        font-size: 14px;
    }


    .button-search {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
        width: 34px;
        line-height: 34px;
        //margin-top: 13px;
        font-size: 17px;
        color: #666;
        &:hover {
            color: @blue;
        }
    }

    .user-bar {
        //display: inline-block;
        display: none;
        vertical-align: middle;
        font-size: 14px;
        line-height: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        [data-action] {
            cursor: pointer;
            padding: 0 15px;
            &:hover {
                color: @blue;
            }
            &:first-child {
                border-right: 1px solid @borderColor;
            }
        }
    }

    .user-control {
        z-index: 9999;
        font-size: 14px;
        //display: inline-block;
        text-align: left;
        display: none;
        vertical-align: middle;
        position: relative;
        padding: 13px 0;
        width: 34px;

        .icon-inactive {
            display: none;
            margin-left: 5px;
            font-size: 10px;
            line-height: 16px;
            padding: 0 5px;
            background-color: @red;
            color: #fff;
            //vertical-align: middle;
            //width: 45px;
            //height: 16px;
            //background: url(../icon/inactive.png) 0 0 no-repeat;
        }

        & > .icon {
            //display: block;
            display: none;
            width: 100%;
            height: 100%;
            font-size: 21px;
            line-height: 34px;
            color: #666;
            text-align: center;
            top: 0;
            &:hover {
                color: @blue;
            }
        }
        & > .avatar {
            //display: none;
            display: block;
            img {
                width: 24px;
                height: 24px;
                margin: 5px;
            }
        }
        & > .control {
            display: none;
            position: absolute;
            top: 36px;
            right: -13px;
            width: 145px;
            padding-top: 15px;
            &:hover {
                display: block;
            }
            & > .content {
                position: relative;
                border-radius: 5px;
                color: #333;
                background-color: #fff;
                //border: 1px solid #ddd ;
                box-shadow: 0 0 3px rgba(0,0,0,0.3);
                padding: 5px 0 ;
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    background-color: #fff;
                    border-top: 1px solid #ddd;
                    border-left: 1px solid #ddd;
                    z-index: 0;
                    width: 10px;
                    height: 10px;
                    top: -6px;
                    right: 25px;
                    //box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
                    .transform(rotate(45deg));
                }
                & > .item {
                    display: block;
                    width: 100%;
                    height: 36px;
                    padding-left: 25px;
                    font-size: 14px;
                    line-height: 36px;
                    &:hover {
                        color: #fff;
                        background-color: @skyblue;
                    }
                }
                & > .line {
                    display: block;
                    border: none;
                    margin: 2px 0;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
        &.login {
            & > .icon {
                display: none;
            }
            & > .avatar {
                display: block;
            }
            &:hover {
                & > .control {
                    display: block;
                }
            }
        }
        &:hover {
            & > .control {
                display: block;
            }
        }
        &.inactive {
            &:before {
                display: block;
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -5px;
                right: -5px;
                background: url(../icon/warn.png) 0 0 no-repeat;
            }
            .icon-inactive {
                display: inline-block;
            }
        }
    }

    .search-form {
        .transition(bottom 0.3s);
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        font-size: 14px;
        padding: 15px 13px 13px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,.3);

        .search-field {
            line-height: 16px;
            color: #333;
            padding: 9px 15px;
            width: 200px;
            height: 34px;
            border: 1px solid #fff;
            border-color: @borderColor;
        }

        &.active {
            bottom: -47px;
        }

    }

}

#navbar-right {
    margin-right: -23px;
    float: right;
    position: relative;
    z-index: 9;
    font-size: 0;
    width: 250px;
    height: 60px;
    text-align: right;
    background-color: #fff;
}

/**
 *
 */
body[data-logon=false] {
    #header .user-bar {
        display: inline-block;
    }
}
body[data-logon=true] {
    #header .user-control {
        display: inline-block;
    }
}
@media(max-width: @navbar-breakpoint) {
    #header {
        .button-search {
            display: none;
        }
        .user-control {
            & > .control {
                display: none !important;
            }
        }
        .search-form {
            position: static;
            padding: 0;
            padding-bottom: 15px;
            box-shadow: none;
            .search-field {
                width: 100%;
            }
        }
    }
    #navbar-right {
        float: none;
        text-align: center;
        margin-right: 0;
    }
}
@media(max-width: (@screen-xs-max)) {
    #header {
        //fix ios bug
        position: absolute;
        .navbar {
            min-height: 40px;
        }
        .navbar-brand {
            padding-top: 10px;
            padding-bottom: 10px;
            height: 40px;
        }
        .navbar-toggle {
            margin-top: 4px;
            margin-bottom: 4px;
            border: none;
        }
        .navbar-nav > li > a {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

#breaking-news {
    display: block;
    height: 0;
    width: 100%;
    background-color: #c11;
    color: #fff;
    overflow: hidden;
    .title {
        .ellipsis;
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    [data-action="hide-breaking-news"] {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 3px;
        margin: auto 0;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        border-radius: 50%;
        background-color: #fff;
        color: #646464;
        text-align: center;
        &:hover {
            color: @blue;
        }
    }
}

.lt-ie9 {
    #header {
        border-bottom: 1px solid @borderColor;
    }
}
