[class^=icon-] {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}
.icon-arrow-right {
    background: url(../icon/arrow-right.png);
}
.icon-rise {
    background: url(../icon/rise.png);
}
.icon-fall {
    background: url(../icon/fall.png);
}
.icon-collect {
    background: url(../icon/collect-blue.png);
}
.icon-share {
    background: url(../icon/share-blue.png);
}
.icon-discuss {
    background: url(../icon/discuss-white.png);
}
.icon-endorse {
    background: url(../icon/endorse-white.png);
}
