@charset "utf-8";

#rightbar {
    float: left;
    padding: 0 15px;
    //
    .custom-nav-tabs {
        margin-bottom: 20px;
        a {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }
    .custom-box {
        border-left: 1px solid @borderColor;
        padding-left: 15px;
    }
}

#js-wscn-sidebar-iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}