#rightbar {
    float: left;
    padding: 0 15px;
    //
    .custom-nav-tabs {
        margin-bottom: 20px;
        a {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }
}



#right-side-livenews {
    height: 400px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
    .news {
        margin-left: 15px;
        margin-right: 15px;
        &:hover {
            margin-left: 0;
            margin-right: 0;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #8CB8D5;
            border-bottom: 1px solid #8CB8D5;
            border-top: 1px solid #8CB8D5;
            margin-top: -1px;
        }
    }
}

#js-wscn-sidebar-iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}