@charset "utf-8";

#sidebar {
    z-index: 1;
    position: absolute;
    height: 300px;
    right: 15px;
    top: 0px;
    padding: 0 30px;
    background-color: #fff;

    & > .title {
        font-weight: bold;
        line-height: 1em;
        font-size: 16px;
        padding-top: 17px;
        padding-bottom: 10px;
        color: @blue;
        .more {
            float: right;
            font-weight: normal;
            font-size: 12px;
            margin-top: 4px;
            color: #999;
        }
    }

    &.active {
        box-shadow: 0 0 5px 1px rgba(0,0,0,.4);
    }
    @media (min-width: @screen-sm-min) {
        width: 490px;
    }
    @media (min-width: @screen-md-min) {
        width: 530px;
    }
    @media (min-width: @screen-lg-min) {
        width: 543px;
    }
}

#hide-sidebar {
    position: absolute;
    display: none;
    width: 48px;
    height: 44px;
    top: -16px;
    left: -13px;
    background: url(../img/back-close.png) 0 0 no-repeat;
    &:hover {
        background-image: url(../img/back-close-hover.png);
    }
}

#show-sidebar {
    position: absolute;
    z-index: 3;
    top: 5px;
    right: 5px;
    width: 111px;
    height: 44px;
    background-image: url(../img/livenews-title.png);
    &:hover {
        background-image: url(../img/livenews-title-hover.png);
    }
}

#side-livenews {
    font-size: 12px;
    line-height: 1.75em;
    .news {
        color: #666;
        &:hover {
            color: #000;
        }
        .time {
            width: 45px;
            border-top: 1px solid @borderColor;
            height: 51px;
        }
        .content {
            border-top: 1px solid @borderColor;
            height: 51px;
        }
    }
}

#postbar {
    position: fixed;
    bottom: 40px;
    padding-left: 15px;
    .item {
        display: block;
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
    .suggest {
        background: url(../icon/suggest50px.png);
        &:hover {
            background-image: url(../icon/suggest-active50px.png);
        }
    }
    .wechat {
        background: url(../icon/wechat50px.png);
        &:hover {
            background-image: url(../icon/wechat-active50px.png);
        }
    }
    .up {
        background: url(../icon/up50px.png);
        &:hover {
            background-image: url(../icon/up-active50px.png);
        }
    }
}

#qrcode {
    display: block;
    position: fixed;
    top: 230px;
}

