#sidebar {
    z-index: 1;
    position: absolute;
    width: 524px;
    padding-left: 30px;
    right: 15px;
    top: 0;
    background-color: #fff;

    .side-title {
        .clearfix;
    }

}
#side-topnews {
    font-size: 14px;
    background-color: #fff;
    height: 300px;
}
#side-livenews {
    font-size: 14px;
    height: 300px;
}

#postbar {
    position: fixed;
    bottom: 40px;
    padding-left: 15px;
    .item {
        display: block;
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
    .suggest {
        background: url(../icon/suggest50px.png);
        &:hover {
            background-image: url(../icon/suggest-active50px.png);
        }
    }
    .wechat {
        background: url(../icon/wechat50px.png);
        &:hover {
            background-image: url(../icon/wechat-active50px.png);
        }
    }
    .up {
        background: url(../icon/up50px.png);
        &:hover {
            background-image: url(../icon/up-active50px.png);
        }
    }
}

#qrcode {
    display: block;
    position: fixed;
    top: 230px;
}

