#sidebar {
    z-index: 1;
    position: absolute;
    width: 524px;
    padding-left: 30px;
    right: 15px;
    top: 0;
    background-color: #fff;

    .side-title {
        .clearfix;
    }

}
#side-topnews {
    font-size: 14px;
    background-color: #fff;
    height: 300px;
}
#side-livenews {
    font-size: 14px;
    height: 300px;
}