.ui-panel{
    position: absolute;
    display: block;
}

.ui-panel-contentWrap{
    position: relative;
    z-index: 1;
}

.ui-panel.ui-panel-right{
    right: 0;
}

.ui-panel.ui-panel-left{
    left: 0;
}

.ui-panel.ui-panel-push{
    z-index: 999;
}
.ui-panel.ui-panel-overlay{
    z-index: 1001;
}
.ui-panel.ui-panel-reveal{
    z-index: 0;
}

.ui-panel-animate{
    -webkit-transition: -webkit-transform 350ms ease;
}

.ui-panel-dismiss{
    position: absolute;
    z-index: 1000;
    height: 100%;
    top: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui-panel{
    width: 15em;
    height: 100%;
    top: 0;
    padding: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
    color: #ffffff;
}

.ui-holder {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    left: -10000px;
}

.ui-slideup {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
}
.ui-slideup-wrap {
    position: absolute;
    left: 0;
    z-index: 1200;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-transform: translateZ(0);
}

.ui-calendar {
    width: 100%;
    line-height: 25px;
    font-size: 14px;
}

.ui-calendar-header {
    color: #545454;
    text-align: center;
    padding: 3px 0;
}

.ui-calendar-header a {
    color: #545454;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    border-radius: 3px;
    line-height: 1.0;
}
.ui-calendar-header a.ui-state-hover {
    background-color: #ccc;
}
.ui-calendar-header .ui-calendar-title {
    text-align: center;
    display: inline-block;
}

.ui-calendar-calendar {
    width: 100%;
    border-collapse: collapse;
}

.ui-calendar-calendar th, .ui-calendar-calendar td {
    text-align: center;
    color: #000;
    font-weight: normal;
}
.ui-calendar-calendar td {
    border-top: 1px solid #CCCCCC;
    width: 14.3%;
    padding: 3px 0;
}
.ui-calendar-calendar thead tr {
    border: 1px solid #fff;
}

.ui-calendar-calendar thead th {
    background-color: #F8F8F8;
}

.ui-calendar-calendar a {
    text-decoration: none;
    color:#000;
    display: block;
}

.ui-calendar-gap {
    display: none;
}
.ui-calendar-calendar tr.ui-calendar-gap td {
    line-height: 5px;
    font-size: 0;
    border: none;
    background: transparent;
}

.ui-calendar-calendar td.ui-calendar-unSelectable {
    color: #e1e1e1;
}

.ui-calendar-calendar td.ui-calendar-today a {
    color: #FB0000;
}
.ui-calendar-calendar td.ui-calendar-current-day {
    font-weight: bold;
}
.ui-calendar-calendar td.ui-calendar-current-day a {
    background-color: #0079FF;
    color: #FFF;
    border-radius: 12px;
    display: inline-block;
    width: 24px;
}

.ui-calendar-calendar td.ui-state-hover {
    background: #ccc;
}

.ui-slideup .header {
    line-height: 43px;
    height: 43px;
    opacity: 0.9;
    background-color: #F8F8F8;
    overflow: hidden;
}
.ui-slideup .ok-btn, .ui-slideup .no-btn {
    position: absolute;
    top: 7px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #0079FF;
    color: #FFF;
    display: block;
    border-radius: 5px;
}
.ui-slideup .ok-btn {
    right: 7px;
    float: right;

}
.ui-slideup .no-btn {
    left: 7px;
    float: left;
    background-color: #FFF;
    border: 1px solid #0079FF;
    color: #0079FF;
}
.ui-slideup .ok-btn.ui-state-hover, .ui-slideup .no-btn.ui-state-hover{
    opacity: 0.4;
}
.ui-slideup .frame {
    background: #FFF;
}

.ui-gotop {
    position: fixed;
    display: none;
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 10px;
	z-index: 999;
	cursor:pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui-gotop div {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px #9c9c9c;
    opacity: 0.9;
    background:#454545 url(ui-gotop-icon.png) no-repeat center center;
    -webkit-background-size: 18px 15px;
}

/*css for pad*/
@media all and (min-device-width:768px) and (max-device-width: 1024px){
    .ui-gotop{
        width:60px;
        height: 60px;
    }
    .ui-gotop div{
        width: 48px;
        height: 48px;
        -webkit-background-size: 22px 18px;
    }
}